body{
    background-color: rgb(164, 97, 169);
    color: #0b0a08;
}

h1,h2 {
    color: #150b3a;
}
.container1 {
    /* background-color: rgb(92, 84, 73); */
    color: #020009;
}
.postcontainer li{
background-color: rgb(57, 92, 164);
max-width: 50%;
min-width: 50%;
height:100%;
border-radius: 10px 10px;
/* display:flex; */
flex-direction: column;
justify-content: center;
overflow: auto;
margin: 10px;
vertical-align: middle;
}
.login-form{
    background-color: aquamarine;
    max-width: 50%;
min-width: 50%;
height:100%;
border-radius: 10px 10px;
/* display:flex; */
flex-direction: column;
justify-content: center;
overflow: auto;
margin: 100px;
vertical-align:middle;
text-align: center;
border-top-right-radius: 9%;
border-bottom-left-radius: 9%;
}

.create{
    background-color: rgb(48, 64, 114);
    max-width: 50%;
min-width: 50%;
height:100%;
border-radius: 10px 10px;
/* display:flex; */
flex-direction: column;
justify-content: center;
overflow: auto;
margin: 100px;
vertical-align:middle;
text-align: center;
border-top-right-radius: 9%;
border-bottom-left-radius: 9%;
}