{% extends 'base.html' %}
{% block content %}
<h1>Guzo-Blog About</h1>
<p>This is a blog that the user can post about experience that they want other people to know. The name of the app is called "guzo-blog" that means "travel-blog", but it does not depend on only travel posts. It still need some work to be used like full working application, but it allows people to update, create and delete their posts. Also it use aws image upload to upload the image. Its django application. You have to create account inorder to see the post. Hope you share your experience too. ✍️ <p>
   <p>The repo for the github is <a href="https://github.com/Feven98/capstone_blog"> Here</a></p>
{% endblock %}