{% extends 'base.html'%}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Create Post</h1>
<div class="create">
<form method="post">
    <!-- Security Feature  -->
      {% csrf_token %} 
    <!--  Generate inputs  -->
      {{form.as_p}} 
    <!--  Submit form  -->
  <!--  create image form  -->
<p >You want to add a Picture</p>
  
      <input type="submit" value="Post" />
    </form>
  </div>
    {% else %}

  You are not logged in!!!
  {% endif %}
{% endblock %}