{% extends 'base.html'%}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == blog.writer.id %}
<h1>Add An Image</h1>
<form action="{% url 'update_photo' blog.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file" />

  <input type="submit" value="Post" />
</form>

{% else %}
You are not the user!
{% endif %}
{% else %}

You are not logged in!!!
{% endif %}

{% endblock %}